<div class="general-wrapper">
  <h2 class="cursive">Lista de cadouri</h2>
  <p
    class="text"
    style="text-align: center; font-size: 16px"
    *ngIf="!isSelected && !wishlistElementSent"
  >
    Aici gasiti cateva lucruri pe care le-am considera utile.<br />
    Linkurile cu produsele au un caracter informativ si sunt acolo pentru a va
    inspira in ce ne-ar placea noua in legatura cu acest obiect.
  </p>

  <p
    class="text"
    style="text-align: center"
    *ngIf="isSelected && !wishlistElementSent"
  >
    Dupa ce vei apasa butonul trimite, nu vor mai putea fi facute modificari
    asupra alegerii, decat daca ne contactezi pe noi.
  </p>

  <p
    class="text"
    style="text-align: center"
    *ngIf="!isSelected && wishlistElementSent"
  >
    O alegere minunata! Va multumim pentru implicare!
  </p>
  <nz-divider></nz-divider>

  <p class="text" *ngIf="isSelected && !wishlistElementSent">Ai ales</p>

  <div class="list-el-wrapper" *ngFor="let element of wishlistElements">
    <app-list-element
      [isSelected]="isSelected"
      [element]="element"
      (sendSelection)="confirmSelection($event)"
    ></app-list-element>
  </div>

  <div *ngIf="isSelected && !wishlistElementSent" class="select-wrapper">
    <p class="text">Daca vrei sa iti vedem numele...</p>
    <input
      nz-input
      class="input"
      placeholder="Nume"
      [(ngModel)]="numeSelectat"
      type="text"
      style="margin-top: 10px"
    />
    <p class="text" style="margin-top: 20px">Daca nu, doar trimite selectia</p>
    <div class="btn-wrapper">
      <button class="back-btn" (click)="goBack()">Inapoi</button>
      <button class="confirm-btn" (click)="sendElement()">Trimite</button>
    </div>
  </div>
</div>
