<div class="wrapper" [ngClass]="expanded ? 'expandedWrapper' : ''">
  <div class="title-wrapper" (click)="expand()">
    <h3>
      {{ element.object }}
      <span *ngIf="element.chosen"
        ><span nz-icon nzType="lock" nzTheme="outline"></span
      ></span>
    </h3>
    <span
      nz-icon
      nzType="right"
      nzTheme="outline"
      class="icon"
      [@rotateIcon]="isRotated.toString()"
    ></span>
    <!-- <span nz-icon nzType="down" nzTheme="outline"></span> -->
  </div>
  <div class="link-wrapper" *ngIf="expanded">
    <div *ngFor="let item of element.links; let index = index">
      <a class="link" target="”_blank”" [href]="item"
        >Inspiratie {{ index + 1 }}</a
      >
    </div>
  </div>
  <button
    class="confirm-btn"
    *ngIf="expanded && !isSelected && !element.chosen"
    (click)="selectElement()"
  >
    Selecteaza
  </button>
</div>
