<div class="general-wrapper">
  <!-- <img
    src="assets/photos/multiple floral - Copy.jpg"
    alt="multiple flowers"
    class="background-flowers"
  /> -->
  <h2 class="cursive">Cronologia evenimentului</h2>
  <div class="text-wrapper">
    <h3 class="text" style="color: black">17.00</h3>
    <img src="assets/photos/inele.png" alt="house with heart" width="80" />
    <h3 class="text">Cununia civila</h3>
  </div>
  <span
    nz-icon
    nzType="line"
    nzTheme="outline"
    style="transform: rotate(90deg) scale(2); color: #4d6453; margin: 20px 0"
  ></span>
  <div class="text-wrapper">
    <h3 class="text" style="color: black">19.00</h3>
    <img src="assets/photos/wine.png" alt="house with heart" width="80" />
    <h3 class="text">Fourchet</h3>
  </div>
  <span
    nz-icon
    nzType="line"
    nzTheme="outline"
    style="transform: rotate(90deg) scale(2); color: #4d6453; margin: 20px 0"
  ></span>
  <div class="text-wrapper">
    <h3 class="text" style="color: black">22.00</h3>
    <img src="assets/photos/party.png" alt="house with heart" width="80" />
    <h3 class="text">Petrecere</h3>
  </div>
</div>
