<div>
  <h2 class="cursive" style="font-size: 40px">Contacte</h2>
  <h3 class="text" style="text-align: center; padding-bottom: 30px">
    Cristian:<span
      ><span
        nz-icon
        nzType="whats-app"
        class="whatsapp"
        nzTheme="outline"
      ></span
      >+40 720 541 437</span
    >
  </h3>

  <h3 class="text" style="text-align: center; padding-bottom: 30px">
    Madlena:<span
      ><span
        nz-icon
        nzType="whats-app"
        class="whatsapp"
        nzTheme="outline"
      ></span
      >+40 766 373 285</span
    >
  </h3>
</div>
