<div class="general-wrapper">
  <!-- <img
    src="assets/photos/watercolor.jpg"
    alt="green watercolor"
    width="600"
    class="watercolor"
  /> -->
  <h2 class="cursive">Locatia evenimentului</h2>
  <div class="text-wrapper">
    <h3 class="text" style="color: black" style="margin-bottom: 0">
      Cununia civila va avea loc la casa casatoriilor
    </h3>
    <img
      src="assets/photos/casa.png"
      alt="house with heart"
      width="80"
      style="margin: 20px"
    />
    <h3 class="text"> Strada Mihai Eminescu 20, Constanța </h3>
  </div>
  <div class="text-wrapper">
    <h3 class="text" style="color: black">
      Petrecerea va avea loc la Zoom Beach Bar
    </h3>
    <img
      src="assets/photos/plaja.png"
      alt="house with heart"
      width="80"
      style="margin: 20px"
    />
    <h3 class="text"> Strada Turda, Constanța </h3>
  </div>
</div>
