<div>
  <!-- <div class="nav-bar" *ngIf="navbar; else showMenu">
    <ul class="nav-list">
      <li class="nav-item"><a href="#acasa">Acasa</a></li>
      <li class="nav-item"><a href="#invitatie">Invitatia</a></li>
      <li class="nav-item"><a href="#timeline">Timeline</a></li>
      <li class="nav-item"><a href="#dressCode">Dress code</a></li>
      <li class="nav-item"><a href="#confirmare">Confirmare</a></li>
      <li class="nav-item"><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <ng-template #showMenu>
    <div>
      <button nz-button nzType="default">
        <span
          nz-icon
          nzType="menu"
          nzTheme="outline"
          style="transform: scale(4)"
        ></span>
      </button>
    </div>
  </ng-template>

  <div class="hero-wrapper" id="acasa">
    <div class="intro-wrapper">
      <div class="text-intro">
        <h1 class="name-halo">- Cristian & Madlena -</h1>
        <h2 class="name-halo" style="margin-bottom: 10px">6 iulie 2024</h2>
        <button
          nz-button
          nzType="primary"
          class="confirm-btn"
          style="margin-right: 20px; margin-top: 20px"
        >
          Confirma
        </button>
      </div>
    </div>

     <img src="assets/photos/plaja.jpeg" alt="plaja" width="100%" />
    <img [src]="heroImage" alt="plaja" />
  </div>

  <app-invitation id="invitatie"></app-invitation>
  <app-timeline id="timeline"></app-timeline>
  <app-dress-code id="dressCode"></app-dress-code>
  <app-confirmation id="confirmare"></app-confirmation>
  <app-thanks id="contact"></app-thanks> -->

  <app-home></app-home>
  <app-invitation></app-invitation>
  <app-location></app-location>
  <app-timeline></app-timeline>
  <app-details></app-details>
  <app-dress-code></app-dress-code>
  <app-countdown></app-countdown>
  <app-confirmation></app-confirmation>
</div>
