.general-wrapper {
  width: 100%;
  height: auto;
  margin: 40px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.text {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 50;
  font-size: 20px;
  text-align: center;
  // padding: 0 50px;
  position: relative;
}

.cursive {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  padding: 0;
  margin: 50px 0;
  text-align: center;
  color: #4d6453;
  padding: 0 50px;
  z-index: 10;
  position: relative;
}

.color-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.color {
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
  z-index: 5;
}

.color.c1 {
  background-color: white;
}
.color.c2 {
  background-color: #4d6453;
}
.color.c3 {
  background-color: beige;
}
.color.c4 {
  background-color: lightblue;
}

.watercolor {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transform: rotate(325deg);
  left: -260px;
}
