<div class="general-wrapper">
  <img
    src="assets/photos/floral left bottom  - Copy.jpg"
    alt="watercolor green mark"
    class="watercolor"
  />
  <h2 class="cursive" style="font-size: 40px">Dress code</h2>
  <h3 class="text" style="text-align: center; padding-bottom: 30px">
    Pentru a spori atmosfera magică a ocaziei, ne-ar face mare placere sa va
    vedem la petrecere in tinute complementare gamei de culori ale nuntii
    noastre.
  </h3>
  <div class="color-wrapper">
    <span class="color c1"></span>
    <span class="color c2"></span>
    <span class="color c3"></span>
    <span class="color c4"></span>
  </div>
</div>
