<div class="general-wrapper">
  <div class="cover"></div>
  <h2 class="text">Pana la nunta noastra au ramas</h2>
  <div class="count-wrapper">
    <h1 class="text">
      {{ days }} <br />
      zile
    </h1>
    <div class="vl"></div>
    <h1 class="text">
      {{ hours }} <br />
      ore
    </h1>
    <div class="vl"></div>
    <h1 class="text">
      {{ minutes }} <br />
      min
    </h1>
    <div class="vl"></div>
    <h1 class="text">
      {{ seconds }} <br />
      sec
    </h1>
  </div>
</div>
