<div class="general-wrapper" *ngIf="!formSent">
  <h2 class="cursive">Formularul invitatului</h2>
  <h2 class="text" style="font-size: 22px">
    Va rugam sa raspundeti la cateva intrebari
  </h2>

  <span
    nz-icon
    nzType="double-left"
    nzTheme="outline"
    style="transform: rotate(-90deg) scale(1.5); color: #4d6453"
  ></span>

  <nz-divider></nz-divider>

  <div style="padding: 0 30px; z-index: 15; width: 100%">
    <h3
      class="text"
      [ngClass]="name === null && showMandatoryFields ? 'emptyField' : ''"
    >
      Scrieti numele si prenumele
    </h3>
    <input
      nz-input
      placeholder="Nume prenume"
      [(ngModel)]="name"
      class="input"
      type="text"
      [ngClass]="name === null && showMandatoryFields ? 'emptyInput' : ''"
    />
  </div>

  <nz-divider></nz-divider>

  <h3
    class="text"
    style="padding: 0 30px"
    [ngClass]="presence === null && showMandatoryFields ? 'emptyField' : ''"
  >
    Veti putea fi prezent la evenimentul nostru?
  </h3>

  <nz-radio-group [(ngModel)]="presence" style="padding: 0 30px">
    <label class="text" nz-radio nzValue="ambele"
      >Vin la cununia civila si la petrecere</label
    >
    <label class="text" nz-radio nzValue="petrecere"
      >Vin doar la petrecere</label
    >
    <label class="text" nz-radio nzValue="cununie"
      >Vin doar la cununia civila</label
    >
    <label class="text" nz-radio nzValue="niciuna"
      >Din pacate nu voi putea veni</label
    >
  </nz-radio-group>
  <nz-divider></nz-divider>

  <div *ngIf="presence !== 'niciuna'" style="padding: 0 30px">
    <h3
      class="text"
      [ngClass]="plusOne === null && showMandatoryFields ? 'emptyField' : ''"
    >
      Cu cine veniti?
    </h3>
    <input
      nz-input
      class="input"
      placeholder="Numele persoanei/lor cu care veniti"
      [(ngModel)]="plusOne"
      type="text"
      [ngClass]="plusOne === null && showMandatoryFields ? 'emptyInput' : ''"
    />
    <nz-divider></nz-divider>

    <h3
      class="text"
      [ngClass]="allergies === null && showMandatoryFields ? 'emptyField' : ''"
    >
      Aveti alergii sau restrictii alimentare pe care ar trebui sa le luam in
      calcul?
    </h3>
    <nz-radio-group [(ngModel)]="allergies" class="row">
      <label class="text" nz-radio [nzValue]="true">Da</label>
      <label class="text" nz-radio [nzValue]="false">Nu</label>
    </nz-radio-group>
    <input
      *ngIf="allergies === true"
      [ngClass]="
        allergies === true && detailsAllergies === null && showMandatoryFields
          ? 'emptyInput'
          : ''
      "
      nz-input
      class="input"
      placeholder="Sunt alergic/a la..."
      [(ngModel)]="detailsAllergies"
      type="text"
      style="margin-top: 10px"
    />
    <nz-divider></nz-divider>

    <h3 class="text">Ce v-ar placea sa serviti?</h3>
    <div class="drinks">
      <nz-checkbox-group
        [(ngModel)]="drinkCheckOptions"
        (ngModelChange)="drinkChecked($event)"
      ></nz-checkbox-group>
    </div>
    <input
      *ngIf="altcevaActive"
      nz-input
      class="input"
      placeholder="As vrea sa beau..."
      [(ngModel)]="moreDrinks"
      type="text"
      style="margin-top: 30px"
    />
    <nz-divider></nz-divider>

    <h3
      class="text"
      [ngClass]="
        accomodation === null && showMandatoryFields ? 'emptyField' : ''
      "
    >
      Veti avea nevoie de cazare?
    </h3>
    <nz-radio-group [(ngModel)]="accomodation" class="row">
      <label class="text" nz-radio [nzValue]="true">Da</label>
      <label class="text" nz-radio [nzValue]="false">Nu</label>
    </nz-radio-group>
  </div>

  <div *ngIf="showMandatoryFields" style="padding-top: 30px; color: brown">
    * Mai ai de raspuns la cateva intrebari.
  </div>

  <button class="confirm-btn text" (click)="sendConfirmation()">
    Trimite raspunsul
  </button>
</div>
<img
  *ngIf="formSent"
  src="assets/photos/banner above.jpg"
  class="flower-banner"
  alt="banner above"
/>
<div *ngIf="formSent" class="thanks-wrapper">
  <h3
    class="text"
    *ngIf="presence !== 'niciuna'"
    style="text-align: center; font-size: 20px; padding: 30px"
  >
    Suntem entuziasmati sa va avem alaturi in ziua noastra speciala. <br />
    Va asteptam cu drag!
  </h3>
  <h3
    class="text"
    *ngIf="presence === 'niciuna'"
    style="text-align: center; font-size: 20px"
  >
    Prezenta ta in vietile noastre este ceea ce conteaza cu adevarat, indiferent
    daca poti participa la sarbatoarea noastra sau nu. <br /><img
      src="assets/photos/flower.jpg"
      alt="flower"
      class="flower"
      style="transform: rotate(320deg)"
    /><br />
    Multumim ca ai luat in considerare invitatia noastra.
  </h3>
  <app-contact></app-contact>

  <app-thanks></app-thanks>
</div>
