<div class="general-wrapper">
  <h2 class="cursive">Draga familie si prieteni</h2>
  <h3 class="text">
    Ne face mare placere sa va invitam ca sa ne fiti alaturi la inceputul vietii
    noastre de familie.
    <br />
    <br />
    Va asteptam
  </h3>
  <h2 class="cursive" style="margin: 0">Iulie 2024</h2>
  <div class="banner">
    <div class="banner-wrapper">
      <img
        src="assets/photos/floral banner - left.png"
        alt="floral banner - left"
        class="floral-banner left"
        width="150px"
      />

      <img
        src="assets/photos/floral banner - right.png"
        alt="floral banner - right"
        class="floral-banner right"
        width="150px"
      />
    </div>
  </div>
  <img src="assets/photos/calendar.png" alt="calendar" class="calendar-image" />
</div>
