<div class="general-wrapper">
  <h2 class="cursive">Detalii</h2>

  <h3 class="text">
    Locatia evenimentului nu dispune de facilitati pentru copii precum terenuri
    de joaca si animatori. Va rugam sa luati in calcul acest aspect, precum si
    faptul ca petrecerea va fi acompaniata de muzica la un volum ridicat.
  </h3>
  <img
    src="assets/photos/flower.jpg"
    alt="flower"
    class="flower"
    style="transform: rotate(110deg)"
  />
  <h3 class="text">
    Va rugam sa nu ne darutiti flori, fiindca nu o sa avem timp sa ne bucuram de
    ele. Cu toate acestea, daca aveti dorinta de a ne darui ceva, ne vom bucura
    de o sticla de vin, care promitem ca nu se va ofili.
  </h3>
  <img
    src="assets/photos/flower.jpg"
    alt="flower"
    class="flower"
    style="transform: rotate(320deg)"
  />
  <h3 class="text">
    Daca vreti sa ne cadonati un cadou necesar si valoros, o sa va fim foarte
    recunoscatori daca trageti cu un ochi peste
    <span (click)="goTo('/wishlist')" style="color: #4d6453; font-weight: 700"
      >wish-listul</span
    >
    nostru sau daca aruncati un banut in pusculita tinerei familii.
  </h3>
</div>
